<div class="page-header page-heading">
	<h1 class="pull-left">Forum</h1>
	<div class="clearfix"></div>
</div>

<div class="row">
	<p><%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %></p>
</div>
<% if @posts.count > 0 %>
	<table class="table table-striped">
		<thead>
			<tr>
				<th></th>
				<th>Title</th>
				<th>Author</th>
				<th>Comments</th>
				<th>Last comment</th>
			</tr>
		</thead>
		<colgroup>
			<col span="1" style="width: 5%;">
			<col span="1" style="width: 60%;">
			<col span="1" style="width: 15%;">
			<col span="1" style="width: 5%;">
			<col span="1" style="width: 15%;">
		</colgroup>
		<tbody>
		<% @posts.each do |post| %>
			<tr>
				<td class="text-center"><i class="fa fa-question fa-2x text-primary"></i></td>
				<td><h4><%= link_to post.title, post %></h4></td>
				<td class="hidden-xs hidden-sm">by <%= link_to post.user.name, users_path(post.user.name) %><br>
					<small><i class="fa fa-clock-o"></i> <%= render plain: format_time(post.created_at) %></small>
				</td>
				<td class="text-center hidden-xs hidden-sm"><%= link_to post.comments.count - 1, post %></td>
				<td class="hidden-xs hidden-sm">by 
					<% comment = post.comments.last %>
					<%= link_to comment.user.name, users_path(comment.user.name) %><br>
					<small>
						<i class="fa fa-clock-o"></i>
						<%= link_to format_time(comment.created_at), post.id.to_s + '#comment' + comment.id.to_s %>
					</small>
					<% #= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
			</tr>
		<% end %>
		</tbody>
	</table>
<% end %>

<br>

