<!DOCTYPE html>
<html>
<head>
  <title>NothingGood</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%= render 'layouts/nav' %>
</header>
  <% if notice %><div role="alert" class="alert alert-success pull-right"><%= notice %></div><% end %>
  <% if alert %><div role="alert" class="alert alert-danger pull-right"><%= alert %></div><% end %>
<main role="main" class="container">
  <%= yield %>
</main>
</body>
</html>
